body{
    font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1vw;
}
#icon{
    float: left;
}
#nav-bar{
    width: 100%;
    height: 50px;
    background-color: black;
}
.link,.menu{
    display: block;
    padding-top: 17px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    height: 50px;
    width: 120px;
    float: left;
}
.link.active{
    background-color: rgba(37, 64, 156, 0.43);
}
.link:hover{
    background-color: rgba(218, 218, 218, 0.24);
}
.menu{
    float: right;
    position: relative;
    width: auto;
}
.menu-btn{
    color: white;
    font-weight: bold;
}
.menu-content a{
    display: block;
    color: white;
    font-size: small;
    padding: 12px 0 12px 20px;
    text-align: left;
}
.menu-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.menu:hover .menu-content {
    display: block;
}
.menu-pic{
    float: right;
    margin-top: -6px;
}
.menu-content img{
    margin-top: -9px;
    margin-right: 10px;
    float: left;
}
.menu-content a:hover{
    background-color: rgba(218, 218, 218, 0.24);
}


#photo{
    border: inset 2px #7e8c8d;
    margin-top: 1.5vw;
    margin-left: 2.5vw;
    width: 95vw;
    overflow: hidden;
    border-radius: 5px;
}

#photo .first{
    width: 100%;
    background-color: rgba(111, 127, 128, 0.17);
    text-align: left;
    font-weight: bold;
    padding-left: 1.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    border-bottom: solid 1px rgba(73, 51, 57, 0.6);
}

#photo .pics{
    width: 100%;
}
#photo .pics .blocks{
    width: 100%;
    border-bottom: solid 1px rgba(73, 51, 57, 0.6);
    height: 20vw;
}
#photo .pics .blocks .pic-div{
    float: left;
    overflow: hidden;
    margin-top: 1vw;
    margin-left: 1.5vw;
    width: 17vw;
    height: 17vw;
}
#photo .pics .blocks .right{
     float: right;
     width: 62%;
     height: 15vw;
     margin-top: 1.7vw;
     margin-right: 13vw;
}
#photo .pics .blocks .right .text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    border-bottom: none;
}
#photo .pics .blocks .right .text h1{
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1.7vw;
}
#photo .pics .blocks .right .text article{
    line-height: 1.7vw;
}
#photo .pics .blocks .right .buttons{
    width: 100%;
    margin-top: 1.7vw;
}


.buttons .modify{
    background-color: rgba(111, 127, 128, 0.17);
    color: purple;
    min-width: 50px;
    padding: 1vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vmax;
    width: 3vw;
    height: 1.1vw;
    border: solid 2px rgba(101, 103, 49, 0.13);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttons .modify:hover{
    background-color: purple;
    color: white;
}
.buttons .delete{
    background-color: rgba(111, 127, 128, 0.17);
    color: red;
    min-width: 50px;
    padding: 1vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vmax;
    width: 3vw;
    height: 1.1vw;
    border: solid 2px rgba(101, 103, 49, 0.13);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttons .delete:hover{
    background-color: red;
    color: white;
}


#photo .pics .last{
    border: none;
}


#photo .pics .foot{
    border-bottom: none;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.pics .foot a{
    font-weight: bold;
    margin-left: 40%;
    color: blue;
}
.pics .foot span{
    margin-left: 1vw;
    font-weight: bold;
}
.pics .foot .sp{
    color: #515151;
    cursor: default;
}
#block{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100px;
}
#footer{
    position: absolute;
    bottom: 10px;
    left: 2.5vw;
    font-weight: bold;
}